<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.kream.member.mapper.MemberMapper">
    <select id="selectMemberIdCnt" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE MEMBER_ID = #{member_id}
    </select>
    <select id="selectMemberEmail" resultType="int">
        SELECT COUNT(*)
        FROM member
        WHERE EMAIL = #{email}
    </select>
    <insert id="addMember" parameterType="com.flab.kream.member.dto.MemberRequestDTO">
        INSERT INTO member
            (EMAIL, PASSWORD, NICKNAME,GENDER, BIRTH_DAY,IMAGE_URL)
        VALUES (#{email}, #{password}, #{nickName}, #{gender} ,#{birth}, #{imageUrl})
    </insert>
</mapper>




