<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.kream.order.dao.OrderDao">
    <insert id="addOrder" parameterType="com.flab.kream.order.dto.OrderRequest">
        INSERT INTO PRODUCT_ORDER
            (MEMBER_ID, PRODUCT_ID, FIELD, CREATED_DATE,CREATED_BY)
        VALUES(#{memberId},#{productId},#{quantity},now(),#{createdBy})
    </insert>

    <select id="selectOrder" parameterType="com.flab.kream.order.dto.OrderRequest" resultType="com.flab.kream.order.dto.OrderResponse">
        SELECT
              *
        FROM PRODUCT_ORDER;
        WHERE  MEMBER_ID = #{memberId}
    </select>
</mapper>



