<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.kream.product.dao.ProductDAO">

    <insert id="insertProduct" parameterType="com.flab.kream.product.dto.ProductRequestDTO">
        INSERT INTO
        product
        (
        brandId,
        name,
        imageUrl
        )
        VALUES
        (
        #{brand_id},
        #{name},
        #{image_url}
        )
    </insert>

    <select id="getProductList" parameterType="com.flab.kream.common.model.Pagination" resultType="com.flab.kream.product.dto.ProductDTO">
        SELECT
        P.productId,
        P.name,
        P.imageUrl,
        P.eventTitle,
        PB.name
        FROM product P
        LEFT JOIN product_brand PB
        ON P.brandId = PB.brandId
        LEFT JOIN product_detail PD
        ON P.productId = PD.productId
        WHERE P.productId <![CDATA[<]]> #{pagination.cursor}
        ORDER BY P.productId DESC
        LIMIT #{pageInfo.size}
    </select>

</mapper>


